# dot files
.bundle
*.rbc
*.sassc
**.orig
.powrc
.sass-cache
.zeus.sock
.DS_store
.rspec
.travis.yml
.vagrant
.databag_secret

# root files
bootstrap.sh
capybara-*.html
Guardfile
rerun.txt
Vagrantfile

# other config
config/*.yml
config/environments/production.rb
config/initializers/recaptcha.rb
config/deploy.rb
config/deploy/development.rb
config/deploy/vagrant.rb
kitchen/nodes/localhost.json

# folders
coverage
log/*
/public/system
/spec/tmp
/tmp
/vendor/bundle
lib/load-scripts/
