after_failure:
  - mysql -e 'show databases;'
  - cat ./config/database.yml
  - echo $RAILS_ENV
  - bundle exec rake --version
  - ruby env
before_script:
  - cp config/database.yml.example config/database.yml
  - cp config/resque.yml.example config/resque.yml
  - mysql -e 'create database mygov_test;'
install:
  - bundle install --without development
language: ruby
notifications:
  email:
    recipients:
      - user@gsa.gov
      - admin@businessusa.gov
script:
  - bundle exec rake db:schema:load
  - bundle exec rake db:test:prepare
  - bundle exec rake spec
services:
  - mysql
  - redis-server
rvm:
  - 2.1.1
  - 2.0.0
  - 1.9.3
branches:
  only:
    - master
    - xavier
    - /.*-travis$/
env:
  - RECAPTCHA_PUBLIC_KEY='6Lc-1-USAAAAABEnLWm2KRTQ90f41UgFneddln9_' RECAPTCHA_PRIVATE_KEY='6Lc-1-USAAAAAC9n2SlCH7AgAsVyS9K-PLOH8gbs'