<% scopes_by_group(scopes) do |group, group_scopes| %>
  <%- if group_scopes.present? -%>
  
  <section>
    <h3 id="section_TODO"><%= t("scope_groups.#{group}.subheading") %></h3>
    
    <% group_scopes.each do |scope| %>
            
      <span id="TODO" aria-describedby="TODO"><%= scope_field_tag(scope) %></span>
      <label for="TODO" class="label-switch">
        <input type="checkbox" id="TODO" tabindex="0" aria-describedby="TODO">
          <div class="checkbox" role="checkbox" tabindex="-1">
            <span>YES</span>
          </div>
        </input>
      </label>
    
    <% end %>

  </section>
  
  <% end %>
  
<% end %>


 