include _bootstrap-mixins.jade

a.text-muted.back-to-top(href='#top')
  i.fa.fa-toggle-up
  | &nbsp;Back to top
div(class=fullWidth ? 'container-fluid' : 'container')
  .row.aglio
    block nav
      +Nav(false)

    .col-md-8
      block content
        +Content('primary', false)

#localFile(style="display: none; position: absolute; top: 0; left: 0; width: 100%; color: white; background: red; font-size: 150%; text-align: center; padding: 1em;").
  This page may not display correctly when opened as a local file. Instead, view it from a web server.
