<% scopes_by_group do |group, group_scopes| %>
  <%- if group_scopes.present? -%>
    <%= content_tag :div, class: "form-group" do %>
        <div class="form-group scope">
          <%= t("scope_groups.#{group}.description") %>
          <% group_scopes.each do |scope| %>
            <div class="scope-option">
              <%= scope_check_box_tag scope, selected_scopes.member?(scope) %>
              <%= scope_field_label(scope) %>
            </div>
          <% end %>
        </div>
    <% end %>
  <% end %>
<% end %>
