.hero {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  //$hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  $hero-image: image-path('great-plains.png');

  $button-color-light: #91C5EA;
  $button-color-dark: #0073AD;


  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      background-color: rgb(145, 197, 243);
      background-color: rgba(145, 197, 243, 0.3);
      margin: 0 auto;
      padding: 1em 4em;

      @include media($large-screen) {
        padding: 1.8em 8em;
        width: 50em;
      }
      
      h1 {
        margin-bottom: 0.5em;
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto; 

        @include media($large-screen) {
          font-size: 1.1em;
        }
      }
    }

    .action {
      padding-top: 1.4em;
      button {
        @include button(flat, $base-accent-color);
        padding: 0.7em 1em;
        background-color: $button-color-light;
        &.signup {
          background-color: $button-color-dark;
          margin-left: 10px;
        }
      }
    }
  }
}
