<h4><%= message %> Please save the below information in safe place.</h4>
<div class='row'>
	<div class='col-md-3'> Consumer Public Key </div>
	<div class='col-md-3'> <%= @application.uid %> </div>
</div>
<div class='row'>
	<div class='col-md-3'> Consumer Secret Key  </div>
	<div class='col-md-3' id='secret-key'> <%= @application.secret %> </div>
</div>