<div class="row aglio app-settings">
  <div class="col-md-3">
    <%= render 'profiles/nav'%>
  </div>
  <div class="col-md-9">
    <h1>Edit Application</h1>

    <%= render 'form', application: @application %>
  </div>
</div>
