<footer>
  <div id="disclaimer">
    <%= image_tag "usa-flag.png", :alt => 'USA Flag' %>
    <small>
      MyUSA is an official website of the United States Government &middot;
      <%= link_to 'Policies', legal_path, :title => 'MyUSA Policies including Terms of Service, Privacy Policy, Linking Policy, and PRA Statement' %>
    </small>
  </div>
</footer>