<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>One account for government</h1>
			<p>MyUSA offers comprehensive account management services, enabling visitors to access online government resources easily and securely.</p>	
		</div>
		<div class="action">
    	<%= link_to 'Learn More', '#', :class => 'button learn' %>
    	<%= link_to 'Sign up now', '/users/sign_in', :class => 'button signup' %>
    </div>
	</div>
</div>
