<a href="#top" class="text-muted back-to-top"><i class="fa fa-toggle-up"></i>&nbsp;Back to top</a><div class="container"><div class="row aglio"><div class="col-md-3"><nav id="nav" data-spy="affix" data-offset-top="120" class="hidden-sm hidden-xs nav"><div class="list-group"><a data-toggle="" data-target="#overview-menu" href="#overview" class="list-group-item heading collapsed">Overview</a><div id="overview-menu"></div></div><div class="list-group"><a data-toggle="" data-target="#getting-started-menu" href="#getting-started" class="list-group-item heading collapsed">Getting Started</a><div id="getting-started-menu"></div></div><div class="list-group"><a data-toggle="" data-target="#branding-guidelines-menu" href="#branding-guidelines" class="list-group-item heading collapsed">Branding Guidelines</a><div id="branding-guidelines-menu"></div></div><div class="list-group"><a data-toggle="" data-target="#authentication-menu" href="#authentication" class="list-group-item heading collapsed">Authentication</a><div id="authentication-menu"><a href="#authentication-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/tokeninfo</a></div></div><div class="list-group"><a data-toggle="" data-target="#profile-menu" href="#profile" class="list-group-item heading collapsed">Profile</a><div id="profile-menu"><a href="#profile-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/profile?schema=</a><a href="#profile-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/profile</a></div></div><div class="list-group"><a data-toggle="" data-target="#task-menu" href="#task" class="list-group-item heading collapsed">Task</a><div id="task-menu"><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/tasks</a><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-success"><i class="fa fa-plus"></i></span>POST /api/v1/tasks</a><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/task/:id</a><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-warning"><i class="fa fa-pencil"></i></span>PUT /api/v1/task/:id</a></div></div><div class="list-group"><a data-toggle="" data-target="#notification-menu" href="#notification" class="list-group-item heading collapsed">Notification</a><div id="notification-menu"><a href="#notification-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-success"><i class="fa fa-plus"></i></span>POST /api/v1/notifications</a></div></div><div class="list-group"><a data-toggle="" data-target="#logout-menu" href="#logout" class="list-group-item heading collapsed">Logout</a><div id="logout-menu"><a href="#logout-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /users/sign_out?continue=</a><a href="#logout-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /users/sign_out</a></div></div></nav></div><div class="col-md-8"><div><header><div class="page-header"><h1 id="top">MyUSA API Documentation</h1></div></header><div class="description"></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="overview">Overview&nbsp;<a href="#overview"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><p>MyUSA is an openly accessible service designed to make life easier for app developers and users. It provides:</p>
<ul>
<li><strong>an Authentication and Authorization gateway</strong>, which means apps don’t need their own sign-in/sign-up screens</li>
<li><strong>a Profile system</strong>, which helps users save time as they fill out forms</li>
<li><strong>a Notification service</strong>, making it fast and free for apps to send email and SMS notifications to specific users</li>
</ul>
</div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="getting-started">Getting Started&nbsp;<a href="#getting-started"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><p>Welcome to MyUSA’s API documentation. Here, you’ll find everything you need to know to successfully integrate MyUSA with your application.</p>
<p>To make use of MyUSA’s services in your application, follow the steps outlined below.
If you have questions or need more information, contact us – we’ll get back to you as quickly as we can.</p>
<h2 id="1-read-these-documents">1. Read these documents</h2>
<p>Before doing anything else, read all of steps described in this document. In particular, take note of the various API calls that provide the functions your application requires.</p>
<h2 id="2-create-your-app">2. Create your app</h2>
<p>Use any language or framework you like to create your application – MyUSA places no restrictions on platform or hosting options. We have only two requirements:</p>
<ul>
<li>Your application must make HTTPS calls to our REST API</li>
<li>Your application must provide an OAuth2-compliant endpoint for a callback after the authentication process</li>
</ul>
<p>For a working example, take a look at <a href="https://github.com/18F/omniauth-myusa/tree/master/example">this minimal Ruby &amp; Sinatra implementation</a>,
which is included in our <a href="https://github.com/18F/omniauth-myusa"><em>omniauth-myusa</em>
repository</a>.</p>
<h2 id="3-register-your-app">3. Register your app</h2>
<p>Once you’ve created your application, you’ll need to register it with MyUSA. To do this, visit our <a href="/authorizations">Applications page</a> and click the green New Application button at the top-right corner of the screen. This will open a form you’ll need to complete in order to register your application. We encourage you to complete the form in its entirety. That said, only the following fields are required:</p>
<ul>
<li><strong>Name:</strong> Enter the name of your application. Because your application’s name will appear in each user’s list of authorizations, you should choose a name that’s descriptive and easily recognizable.</li>
<li><strong>Redirect URI:</strong> Your application will direct each user’s browser to an authentication page at MyUSA. Once the user has been authenticated, MyUSA will redirect the user’s browser to the URI you provide here.</li>
<li><strong>Scopes:</strong> The latter portion of the form features a list of all the scopes available for use by your application. You’re free to select as many scopes as you like, but you’re required to select at least one to allow your application to access user services.</li>
</ul>
<p>Please note that there are three levels of scopes:</p>
<ol>
<li>Those you specify (indicate interest in accessing) when you register your application;</li>
<li>Those you request from the user during the OAuth process; and</li>
<li>Those the user approves access to during the OAuth process.</li>
</ol>
<p>It’s possible that the user will deny access to some of the scopes you request. Currently, you’re required to specify at least one scope.</p>
<p>After you’ve completed and successfully submitted your application form, a <strong>Public Key</strong> (also known as the <strong>Client ID</strong>) and a Secret Key will be displayed on the page. Your application will use these keys to access the MyUSA API. Please note that <strong>these keys cannot be retrieved, only regenerated</strong> – please keep track of this information when you’re given access to it.</p>
<h2 id="4-make-your-application-public">4. Make your application public</h2>
<p>On the <a href="/authorizations">Applications page</a>, click
the  “New Application” button. At minimum, you need to provide the following
information:</p>
<ul>
<li><strong>Name:</strong> Since the application name will be shown to a user in their list
of authorizations, you should pick a name that’s easily recognizable.</li>
<li><strong>Redirect URI:</strong> To authenticate a user, your app will direct the user’s
browser to an authentication page at MyUSA. Once the user is authenticated,
MyUSA will redirect the user’s browser to the URI you provide here.</li>
<li><strong>Scopes:</strong> You must select at least one scope which your app will use to
access user services.</li>
</ul>
<p>It’s important to note that all newly registered applications default to Private Mode. Applications in <strong>Private Mode</strong> are only able to be accessed (through MyUSA) by you, the registered developer. To enable user access to your application, you must request public access for it. Once this request is approved and access is granted, MyUSA users will be able to access your application.</p>
<h2 id="5-connect-your-application-to-myusa">5. Connect your application to MyUSA</h2>
<p>After you’ve successfully registered your application, you’re ready to connect it to MyUSA. To do this, you’ll need to add a Connect with MyUSA button, which your users will click to log in.</p>
<p>Please visit the <a href="#authenticating-users">Authenticating Users</a> section to access the URL to use, and visit our <a href="#branding">Branding</a> section to access the HTML you’ll need to install the MyUSA button.</p>
<h2 id="6-test-your-app-s-connection-to-myusa">6. Test your app’s connection to MyUSA</h2>
<p>To ensure that your application is properly connected to MyUSA, test its login capability and API access by taking the actions described below:</p>
<h3 id="signing-in">Signing in</h3>
<ol>
<li>Access your application and click the Connect with MyUSA button as it appears in your application. You should be taken to the MyUSA sign in page.</li>
<li>Sign in with your MyUSA developer account (the one you used to register your application). Doing this should route you to your application’s OAuth callback endpoint.</li>
<li>Be aware that your application is in Private Mode by default. As long as your application remains in <strong>Private Mode</strong>, your attempts to sign in with any other account should produce a client authentication error.</li>
</ol>
<h3 id="api-access">API access</h3>
<p>Once a user has signed in, your app should have access to the specific scopes
requested, using the MyUSA API.</p>
</div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="branding-guidelines">Branding Guidelines&nbsp;<a href="#branding-guidelines"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><p>These guidelines provide the design specifications for using the MyUSA brand
within your application.  You can use these assets on your website or in your
application so long as they comply with the MyUSA Terms of Service.</p>
<p>The use of the MyUSA brand in any way not disclosed in this document or the
Terms of Services requires explicit approval.  Note that the MyUSA brand or
any affiliated government organization may not be used to imply an
endorsement of an organization (including a nonprofit), product, person,
or service.</p>
<h2 id="myusa-button">MyUSA Button</h2>
<p>Two versions of the MyUSA button are available: one with a blue background and one with a white background.</p>
<p><strong>Note:</strong> In the HTML code below, replace <code>$URL</code> with your custom sign in URL. (See <a href="#authenticating-users">the “Authenticating Users” section</a> for more information.)</p>
<h3 id="blue-background">Blue Background</h3>
<p><a href="" class="btn btn-social btn-myusa">Connect with MyUSA</a></p>
<p>To add this button to your application, use the following HTML:</p>
<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//fonts.googleapis.com/css?family=Open+Sans'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//s3.amazonaws.com/myusa-static/button.min.css'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"$URL"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-social btn-myusa"</span>&gt;</span>Connect with MyUSA<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
</code></pre>
<h3 id="white-background">White Background</h3>
<p><a href="" class="btn btn-social btn-myusa white">Connect with MyUSA</a></p>
<p>To add this button to your application, use the following HTML:</p>
<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//fonts.googleapis.com/css?family=Open+Sans'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//s3.amazonaws.com/myusa-static/button.min.css'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"$URL"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-social btn-myusa white"</span>&gt;</span>Connect with MyUSA<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
</code></pre>
</div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="authentication">Authentication&nbsp;<a href="#authentication"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><p>MyUSA uses OAuth 2.0. The authentication flow is as follows:</p>
<ol>
<li>Your application redirects the user to MyUSA.</li>
<li>If the user is not logged in at MyUSA, they are redirected to a login dialog.</li>
<li>The user authorizes MyUSA to grant access to your application.</li>
<li>MyUSA redirects the user back to your application, with an access_token.</li>
<li>Using the access token, your application may query MyUSA APIs that you granted access to.</li>
</ol>
<h2 id="scopes">Scopes</h2>
<p>The scopes you define when you setup your app on MyUSA.gov define what information users will be asked to grant access to. Scopes limit access for OAuth tokens. They do not grant any additional permission beyond that which the user already has.</p>
<h2 id="api-versions">API Versions</h2>
<p>To access the MyUSA API, your app should use URLs which include the API version number.
API URLs are constructed using this template:</p>
<pre><code><span class="hljs-link_url">https://my.usa.gov/api/</span>[<span class="hljs-link_label">VERSION</span>]/[ENDPOINT]
</code></pre><p>The MyUSA API is currently at <strong>version 1</strong>. So, to access the Profile API, request this URL:</p>
<pre><code><span class="hljs-label">https:</span>//my<span class="hljs-preprocessor">.usa</span><span class="hljs-preprocessor">.gov</span>/api/v1/profile
</code></pre><p>The MyUSA team frequently makes minor changes to the API, but the vast majority of these changes are backwards-compatible and will not break existing integration code.</p>
<p>If an API change is backwards-incompatible, we increment the version number while keeping the previous version available.
By using API URLs with specified versions, your application can continue operating without code changes.</p>
<p><strong>Note that only two versions of the API are officially supported at any time: the current version, and the version preceding it.</strong>
If your app uses the MyUSA API, you’ll need to keep track of new versions to ensure that the app stays functional.</p>
<h2 id="connecting-with-oauth">Connecting with OAuth</h2>
<ol>
<li>Sign in to <a href="/">MyUSA</a> to register an application.</li>
<li>Provide a redirect URI which is <code>YOUR_SITE/auth/myusa/callback</code> by default.</li>
<li>Select the scopes that your application will request. Sample scopes are email <code>profile.first_name</code> and <code>profile.phone_number</code>.</li>
<li>Take note of your Consumer Key and Consumer Secret.</li>
</ol>
<h2 id="authenticating-users">Authenticating Users</h2>
<p>To sign in to your app, users should be shown a “Connect with MyUSA” button. (See the <a href="#branding">Branding section</a> for details and code.) The button should link to your app’s custom sign in URL, which you can construct from this format:</p>
<pre><code>    https://my.usa.gov/users/sign_<span class="hljs-keyword">in</span>?login_reqired=<span class="hljs-literal">true</span>&amp;client_id=ABCD
</code></pre><p>… where <code>ABCD</code> should be replaced with the <strong>Consumer Public Key</strong> (also known as the <strong>Client ID</strong>) that MyUSA provided when your app was registered.</p>
<p>After clicking the “Connect with MyUSA” button, the user will be presented with the MyUSA login page. When they login, they will be redirected back to your application via the redirect URI that you specified when you setup the application. If your redirect uri was <code>https://www.example.com/test</code>, MyUSA would redirect to:</p>
<pre><code><span class="hljs-label">https:</span>//www<span class="hljs-preprocessor">.example</span><span class="hljs-preprocessor">.com</span>/test?code=<span class="hljs-number">12345</span>abcde
</code></pre><h3 id="handling-the-response">Handling the response</h3>
<p>Your application should have an end point to recieve the redirect at this url.</p>
<h3 id="long-lived-token">Long-lived Token</h3>
<p>Now that you have a valid code, you can make a server to server request to the MyUSA API to get a long-lived token to keep users logged in.</p>
<h2 id="example-rails-configuration">Example Rails configuration</h2>
<p>Start by adding this gem to your Gemfile:</p>
<pre><code class="lang-ruby">gem <span class="hljs-string">'omniauth-myusa'</span>, <span class="hljs-symbol">:git</span> =&gt; <span class="hljs-string">'https://github.com/18F/omniauth-myusa'</span>
</code></pre>
<p>Next, tell OmniAuth about this provider. For a Rails app, your <code>config/initializers/omniauth.rb</code> file should look like this:</p>
<pre><code class="lang-ruby"><span class="hljs-constant">Rails</span>.application.config.middleware.use <span class="hljs-constant">OmniAuth::Builder</span> <span class="hljs-keyword">do</span>
  provider <span class="hljs-symbol">:myusa</span>, <span class="hljs-string">"YOURKEY"</span>, <span class="hljs-string">"YOURSECRET"</span>, <span class="hljs-symbol">scope:</span> [...]
<span class="hljs-keyword">end</span>
</code></pre>
<p>Set SCOPES equal to a space separated string of your scopes that you requested when you created the app. In the future, we will generate this for you.
Replace CONSUMER_KEY and CONSUMER_SECRET with the appropriate values you obtained from <a href="/authorizations">MyUSA</a> earlier.</p>
<p>Don’t forget to create a route to handle the callback. For example:</p>
<pre><code><span class="hljs-built_in">get</span> <span class="hljs-string">'/auth/:provider/callback'</span>, <span class="hljs-built_in">to</span>: <span class="hljs-string">'sessions#create’</span>
</code></pre><p>The sessions controller in this example calls a create method that logs in the user.</p>
<p>Further reading:</p>
<h2 id="watch-the-railscast">Watch the RailsCast</h2>
<p>Ryan Bates has put together an excellent RailsCast on OmniAuth:</p>
<p><a href="http://railscasts.com/episodes/241-simple-omniauth-revised"><img src="http://railscasts.com/static/episodes/stills/241-simple-omniauth-revised.png" alt="RailsCast #241" title="RailsCast #241 - Simple OmniAuth (revised)"></a></p>
<p>View the OmniAuth 1.0 docs for more information about strategy implementation: <a href="https://github.com/intridea/omniauth">https://github.com/intridea/omniauth</a>.</p>
<h2 id="contributing">Contributing</h2>
<ol>
<li>Fork it</li>
<li>Create your feature branch (<code>git checkout -b my-new-feature</code>)</li>
<li>Commit your changes (<code>git commit -am &#39;Add some feature&#39;</code>)</li>
<li>Push to the branch (<code>git push origin my-new-feature</code>)</li>
<li>Create new Pull Request</li>
</ol>
<h4 id="authentication-">Resources&nbsp;<a href="#authentication-"><i class="fa fa-link"></i></a></h4><section id="authentication--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#authentication--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/tokeninfo</code></div></div><div class="panel-body"><p>Get metadata about the token used to make this request, including
the list of scopes the user has authorized.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#9916574b20e358953988410169f862a5" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="9916574b20e358953988410169f862a5" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
"<span class="hljs-attribute">resource_owner_id</span>": <span class="hljs-value"><span class="hljs-number">3879</span></span>,
"<span class="hljs-attribute">scopes</span>": <span class="hljs-value">[
  <span class="hljs-string">"profile.first_name"</span>,
  <span class="hljs-string">"profile.last_name"</span>
]</span>,
"<span class="hljs-attribute">expires_in_seconds</span>": <span class="hljs-value"><span class="hljs-number">7200</span></span>,
"<span class="hljs-attribute">application</span>": <span class="hljs-value">{
  "<span class="hljs-attribute">uid</span>": <span class="hljs-value"><span class="hljs-string">"b6b334908bed08005ca145fc96ccbd7e4015a0e504d085c77298cf321aaca8f3"</span>
</span>}
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="profile">Profile&nbsp;<a href="#profile"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="profile-">Resources&nbsp;<a href="#profile-"><i class="fa fa-link"></i></a></h4><section id="profile--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#profile--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/profile?schema=</code></div></div><div class="panel-body"><p>Get the user profile with attributes limited to just those chosen by app owner during app registration in schema format.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>schema</dt><dd><code>boolean</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>true</span></span></dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#d5d490c60e2a2cd77efb1767fb0c950b" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="d5d490c60e2a2cd77efb1767fb0c950b" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"joe@citizen.org"</span></span>,
  "<span class="hljs-attribute">givenName</span>": <span class="hljs-value"><span class="hljs-string">"Joe"</span></span>,
  "<span class="hljs-attribute">additionalName</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">familyName</span>": <span class="hljs-value"><span class="hljs-string">"Citizen"</span></span>,
  "<span class="hljs-attribute">homeLocation</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">streetAddress</span>": <span class="hljs-value"><span class="hljs-string">""</span></span>,
    "<span class="hljs-attribute">addressLocality</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">addressRegion</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">postalCode</span>": <span class="hljs-value"><span class="hljs-literal">null</span>
  </span>}</span>,
  "<span class="hljs-attribute">telephone</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">gender</span>": <span class="hljs-value"><span class="hljs-literal">null</span>
</span>}
</code></pre></li></ul></section><h4 id="profile-">Resources&nbsp;<a href="#profile-"><i class="fa fa-link"></i></a></h4><section id="profile--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#profile--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/profile</code></div></div><div class="panel-body"><p>Get the user profile with attributes limited to just those chosen by app owner during app registration.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#bb91f2bc3772e0f66e1927839b29b3c7" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="bb91f2bc3772e0f66e1927839b29b3c7" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">first_name</span>": <span class="hljs-value"><span class="hljs-string">"Joe"</span></span>,
  "<span class="hljs-attribute">middle_name</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">last_name</span>": <span class="hljs-value"><span class="hljs-string">"Citizen"</span></span>,
  "<span class="hljs-attribute">suffix</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">address</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">address2</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">city</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">state</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">zip</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">gender</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">marital_status</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_parent</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_student</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_veteran</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_retired</span>": <span class="hljs-value"><span class="hljs-string">"0"</span></span>,
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"joe@citizen.org"</span></span>,
  "<span class="hljs-attribute">phone_number</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">mobile_number</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">uid</span>": <span class="hljs-value"><span class="hljs-string">"a83dead6-d98d-4377-9e69-eb00488839f5"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-string">"a83dead6-d98d-4377-9e69-eb00488839f5"</span>
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="task">Task&nbsp;<a href="#task"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#task--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/tasks</code></div></div><div class="panel-body"><p>List all tasks, and associated attributes, created by the calling application</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#af44e04b4072b3d93021469a2cf306aa" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="af44e04b4072b3d93021469a2cf306aa" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>[
{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task #1"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task item 1 (no url)"</span></span>,
      "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
      "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span>
    </span>}
  ]
</span>}
]
</code></pre></li></ul></section><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--post" class="panel panel-success"><div class="panel-heading"><div style="float:left"><a href="#task--post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden"><code>/api/v1/tasks</code></div></div><div class="panel-body"><p>Create a new task for the user for this application.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create a new task</code></strong><a data-toggle="collapse" data-target="#7fa52df752b9382f276814a428f0a707" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="7fa52df752b9382f276814a428f0a707" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">task</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span>
  </span>}
</span>}
</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#8c6c6cbd62b75ce206e061ad919a3b0f" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="8c6c6cbd62b75ce206e061ad919a3b0f" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:22.487Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:22.487Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[

  ]
</span>}
</code></pre></li></ul></section><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#task--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/task/:id</code></div></div><div class="panel-body"><p>Get a single task.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#935a0ba6e1657147b17d69f9ec856928" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="935a0ba6e1657147b17d69f9ec856928" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task Item #1"</span></span>,
      "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
      "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span>
    </span>},
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task Item #2"</span></span>,
      "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-string">"http://valid_url.com"</span></span>,
      "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
      "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span>
    </span>}
  ]
</span>}
</code></pre></li></ul></section><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--put" class="panel panel-warning"><div class="panel-heading"><div style="float:left"><a href="#task--put" class="btn btn-xs btn-warning">PUT</a></div><div style="overflow:hidden"><code>/api/v1/task/:id</code></div></div><div class="panel-body"><p>Update a task</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update a task and task items</code></strong><a data-toggle="collapse" data-target="#3365cd5ec06ccaab9efa9f898f8ca283" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="3365cd5ec06ccaab9efa9f898f8ca283" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">task</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
    "<span class="hljs-attribute">task_items_attributes</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-string">"1"</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task item one"</span>
    </span>}
    ]
  </span>}
</span>}
</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#2453d799c2d8be94e22d495177dea601" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="2453d799c2d8be94e22d495177dea601" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-07T17:59:21.000Z"</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.000Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.875Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[
  {
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task item one"</span></span>,
    "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.000Z"</span></span>,
    "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.000Z"</span>
  </span>}
  ]
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="notification">Notification&nbsp;<a href="#notification"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="notification-">Resources&nbsp;<a href="#notification-"><i class="fa fa-link"></i></a></h4><section id="notification--post" class="panel panel-success"><div class="panel-heading"><div style="float:left"><a href="#notification--post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden"><code>/api/v1/notifications</code></div></div><div class="panel-body"><p>This will create a notification for the authenticated user.  The user will be able to view the notification through a user interface, and optionally by email.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>subject</dt><dd><code>string</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>Test notification</span></span></dd><dt>body</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>This is a test</span></span></dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create a new notification</code></strong><a data-toggle="collapse" data-target="#d29039edf1a7ff762dd9051b91f0191f" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="d29039edf1a7ff762dd9051b91f0191f" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">notification</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">subject</span>": <span class="hljs-value"><span class="hljs-string">"Project MyUSA"</span></span>,
    "<span class="hljs-attribute">body</span>": <span class="hljs-value"><span class="hljs-string">"This is a test."</span>
  </span>}
</span>}
</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#ee99efccad1576db2123caf446691480" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="ee99efccad1576db2123caf446691480" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">17</span></span>,
  "<span class="hljs-attribute">subject</span>": <span class="hljs-value"><span class="hljs-string">"Project MyUSA"</span></span>,
  "<span class="hljs-attribute">body</span>": <span class="hljs-value"><span class="hljs-string">"This is a test."</span></span>,
  "<span class="hljs-attribute">received_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:15.803Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:15.804Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:15.804Z"</span></span>,
  "<span class="hljs-attribute">deleted_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">viewed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span>
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="logout">Logout&nbsp;<a href="#logout"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="logout-">Resources&nbsp;<a href="#logout-"><i class="fa fa-link"></i></a></h4><section id="logout--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#logout--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/users/sign_out?continue=</code></div></div><div class="panel-body"><p>Log the current user out and end the user’s MyUSA session.  With the <code>continue</code>
parameter and a valid URL, the user is returned to the URL indicated.  To be
valid, the hostname must be in the same domain (an extension of) the OAuth
application’s registered URL.  The OAuth application must also be approved by
the user.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>continue</dt><dd><code>url</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>http://example.com/page</span></span></dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>302</code></strong><a data-toggle="collapse" data-target="#dbbd0b5d5e3b11e2ba36b80a86ab0f7b" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="dbbd0b5d5e3b11e2ba36b80a86ab0f7b" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Location</span>: <span class="hljs-string">http://example.com/page</span><br/></code></pre></li></ul></section><h4 id="logout-">Resources&nbsp;<a href="#logout-"><i class="fa fa-link"></i></a></h4><section id="logout--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#logout--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/users/sign_out</code></div></div><div class="panel-body"><p>Log the current user out and end the user’s MyUSA session.  Without any
parameters, this returns the user to the root page, e.g. <a href="http://my.usa.gov/">http://my.usa.gov/</a></p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>302</code></strong></li></ul></section></div></div></div></div></div></div>