<a href="#top" class="text-muted back-to-top"><i class="fa fa-toggle-up"></i>&nbsp;Back to top</a><div class="container"><div class="row aglio"><div class="col-md-3"><nav id="nav" data-spy="affix" data-offset-top="120" class="hidden-sm hidden-xs nav"><div class="list-group"><a data-toggle="" data-target="#overview-menu" href="#overview" class="list-group-item heading collapsed">Overview</a><div id="overview-menu"></div></div><div class="list-group"><a data-toggle="" data-target="#authentication-menu" href="#authentication" class="list-group-item heading collapsed">Authentication</a><div id="authentication-menu"><a href="#authentication-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/tokeninfo</a></div></div><div class="list-group"><a data-toggle="" data-target="#profile-menu" href="#profile" class="list-group-item heading collapsed">Profile</a><div id="profile-menu"><a href="#profile-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/profile?schema=</a><a href="#profile-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/profile</a></div></div><div class="list-group"><a data-toggle="" data-target="#task-menu" href="#task" class="list-group-item heading collapsed">Task</a><div id="task-menu"><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-warning"><i class="fa fa-pencil"></i></span>PUT /api/v1/task/:id</a><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-success"><i class="fa fa-plus"></i></span>POST /api/v1/tasks</a><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/tasks</a><a href="#task-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /api/v1/task/:id</a></div></div><div class="list-group"><a data-toggle="" data-target="#notification-menu" href="#notification" class="list-group-item heading collapsed">Notification</a><div id="notification-menu"><a href="#notification-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-success"><i class="fa fa-plus"></i></span>POST /api/v1/notifications</a></div></div><div class="list-group"><a data-toggle="" data-target="#logout-menu" href="#logout" class="list-group-item heading collapsed">Logout</a><div id="logout-menu"><a href="#logout-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /users/sign_out?continue=</a><a href="#logout-" style="border-top-left-radius: 0; border-top-right-radius: 0" class="list-group-item"><span class="badge alert-info"><i class="fa fa-arrow-down"></i></span>GET /users/sign_out</a></div></div></nav></div><div class="col-md-8"><div><header><div class="page-header"><h1 id="top">MyUSA API Documentation</h1></div></header><div class="description"></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="overview">Overview&nbsp;<a href="#overview"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h2 id="branding-guidelines">Branding Guidelines</h2>
<p>These guidelines provide the design specifications for how to use the MyUSA brand
with your application.  You can use these assets on your website or in your
application so long as they comply with the MyUSA Terms of Service.</p>
<p>The use of the MyUSA brand in any way not disclosed in this document or the
Terms of Services requires explicit approval.  Note that the MyUSA brand or
any affiliated government organization may not be used to imply an
endorsement of an organization (including a nonprofit), product, person,
or service.</p>
<h2 id="myusa-button">MyUSA Button</h2>
<p>The MyUSA button is available in two styles: with a blue background and with a white background.</p>
<h3 id="blue-background">Blue background</h3>
<p><a href="" class="btn btn-social btn-myusa">Connect with MyUSA</a></p>
<p>To add this button to your application, use the following HTML:</p>
<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//fonts.googleapis.com/css?family=Open+Sans'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//s3.amazonaws.com/myusa-static/button.min.css'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-social btn-myusa"</span>&gt;</span>Connect with MyUSA<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
</code></pre>
<h3 id="white-background">White background</h3>
<p><a href="" class="btn btn-social btn-myusa white">Connect with MyUSA</a></p>
<p>To add this button to your application, use the following HTML:</p>
<pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//fonts.googleapis.com/css?family=Open+Sans'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">'//s3.amazonaws.com/myusa-static/button.min.css'</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet'</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">'text/css'</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-social btn-myusa white"</span>&gt;</span>Connect with MyUSA<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
</code></pre>
</div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="authentication">Authentication&nbsp;<a href="#authentication"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h1 id="getting-started-with-myusa-authentication">Getting started with MyUSA Authentication</h1>
<p>MyUSA uses OAuth 2.0. To find out more information about MyUSA and how to create your own application visit the <a href="https://my.usa.gov/developer">developers</a> section of MyUSA.</p>
<h2 id="overview">Overview</h2>
<ol>
<li>Your application redirects the user to a login dialog at the MyUSA.gov.</li>
<li>The user authorizes MyUSA.gov.</li>
<li>MyUSA.gov redirects the user back to your application, with an access_token.</li>
<li>Your application validates the access token.</li>
<li>The access token allows your application to access scope information from MyUSA.gov.</li>
</ol>
<h2 id="scopes">Scopes</h2>
<p>The scopes you define when you setup your app on MyUSA.gov define what information your app will require from the user. Scopes limit access for OAuth tokens. They do not grant any additional permission beyond that which the user already has.</p>
<h2 id="api-versions">API Versions</h2>
<p>To access the MyUSA API, your app should use URLs which include the API version number.
API URLs are constructed using this template:</p>
<pre><code><span class="hljs-link_url">https://my.usa.gov/api/</span>[<span class="hljs-link_label">VERSION</span>]/[ENDPOINT]
</code></pre><p>The MyUSA API is currently at <strong>version 1</strong>. So, to access the Profile API, request this URL:</p>
<pre><code><span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/my.usa.gov/api</span><span class="hljs-regexp">/v1/profile</span>
</code></pre><p>The MyUSA team frequently makes minor changes to the API, but the vast majority of these changes are backwards-compatible and will not break existing integration code.</p>
<p>If an API change is backwards-incompatible, we increment the version number while keeping the previous version available.
By using API URLs with specified versions, your application can continue operating without code changes.</p>
<p><strong>Note that only two versions of the API are officially supported at any time: the current version, and the version preceding it.</strong>
If your app uses the MyUSA API, you’ll need to keep track of new versions to ensure that the app stays functional.</p>
<h2 id="connecting-with-oauth">Connecting with OAuth</h2>
<ol>
<li>Sign in to <a href="https://my.usa.gov/developer">MyUSA</a> to register an application.</li>
<li>Provide a redirect URI which is <code>YOUR_SITE/auth/myusa/callback</code> by default.</li>
<li>Select the scopes you wish to recieve about user data. Sample scopes are email first_name and phone_number.</li>
<li>Take note of your Consumer Key and Consumer Secret.</li>
</ol>
<h2 id="your-application">Your Application</h2>
<p>First, direct your user to <a href="https://my.usa.gov/auth/myusa">https://my.usa.gov/auth/myusa</a> with the following parameters:</p>
<pre><code> MYUS<span class="hljs-built_in">A_CLIENT</span>_ID
 REDIRECT_URI
<span class="hljs-label"> TYPE :</span> CODE
</code></pre><p>At this point, the user will be presented with the myusa login page. When they login, they will be redirected back to your application via the redriect URI that you specified when you setup the application. If your redirect uri was <code>https://www.ryan.com/test</code>, MyUSA would redirect to:</p>
<pre><code>http<span class="hljs-variable">s:</span>//www.ryan.<span class="hljs-keyword">com</span>/test?code=<span class="hljs-number">12345</span>abcde
</code></pre><h3 id="handling-the-response">Handling the response</h3>
<p>Your application should have an end point to recieve the redirect at this url.</p>
<h3 id="long-lived-token">Long-lived Token</h3>
<p>Now that you have a valid code, you can make a server to server request to <code>api.my.usa.gov</code> to get a long-lived token to keep users logged in.</p>
<h2 id="example-rails-configuration">Example Rails configuration</h2>
<p>First start by adding this gem to your Gemfile:</p>
<pre><code class="lang-ruby">gem <span class="hljs-string">'omniauth-myusa'</span>, <span class="hljs-symbol">:git</span> =&gt; <span class="hljs-string">'https://github.com/GSA-OCSIT/omniauth-myusa.git'</span>
</code></pre>
<p>Next, tell OmniAuth about this provider. For a Rails app, your <code>config/initializers/omniauth.rb</code> file should look like this:</p>
<pre><code class="lang-ruby"><span class="hljs-constant">Rails</span>.application.config.middleware.use <span class="hljs-constant">OmniAuth::Builder</span> <span class="hljs-keyword">do</span>
 <span class="hljs-constant">MYGOV_CLIENT_ID</span> = <span class="hljs-string">"YOURKEY"</span>
 <span class="hljs-constant">MYGOV_SECRET_ID</span> = <span class="hljs-string">"YOURSECRETKEY"</span>
 <span class="hljs-constant">MYGOV_HOME</span> = <span class="hljs-string">'http://my.usa.gov'</span>
 <span class="hljs-constant">SCOPES</span> = <span class="hljs-string">"profile.email profile.title profile.first_name"</span>
 provider <span class="hljs-symbol">:myusa</span>, <span class="hljs-constant">MYGOV_CLIENT_ID</span>, <span class="hljs-constant">MYGOV_SECRET_ID</span>, <span class="hljs-symbol">:scope</span> =&gt; <span class="hljs-constant">SCOPES</span>
<span class="hljs-keyword">end</span>
</code></pre>
<p>Set SCOPES equal to a space separated string of your scopes that you requested when you created the app. In the future, we will generate this for you.
Replace CONSUMER_KEY and CONSUMER_SECRET with the appropriate values you obtained from <a href="https://my.usa.gov/apps">MyUSA</a> earlier.</p>
<p>Don’t forget to create a route to handle the callback. For example:</p>
<pre><code><span class="hljs-built_in">get</span> <span class="hljs-string">'/auth/:provider/callback'</span>, <span class="hljs-built_in">to</span>: <span class="hljs-string">'sessions#create’</span>
</code></pre><p>The sessions controller in this example calls a create method that logs in the user.</p>
<p>Further reading:</p>
<h2 id="watch-the-railscast">Watch the RailsCast</h2>
<p>Ryan Bates has put together an excellent RailsCast on OmniAuth:</p>
<p><a href="http://railscasts.com/episodes/241-simple-omniauth-revised"><img src="http://railscasts.com/static/episodes/stills/241-simple-omniauth-revised.png" alt="RailsCast #241" title="RailsCast #241 - Simple OmniAuth (revised)"></a></p>
<p>View the OmniAuth 1.0 docs for more information about strategy implementation: <a href="https://github.com/intridea/omniauth">https://github.com/intridea/omniauth</a>.</p>
<h2 id="contributing">Contributing</h2>
<ol>
<li>Fork it</li>
<li>Create your feature branch (<code>git checkout -b my-new-feature</code>)</li>
<li>Commit your changes (<code>git commit -am &#39;Add some feature&#39;</code>)</li>
<li>Push to the branch (<code>git push origin my-new-feature</code>)</li>
<li>Create new Pull Request</li>
</ol>
<h4 id="authentication-">Resources&nbsp;<a href="#authentication-"><i class="fa fa-link"></i></a></h4><section id="authentication--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#authentication--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/tokeninfo</code></div></div><div class="panel-body"><p>Get metadata about the token used to make this request, including
the list of scopes the user has authorized.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#9916574b20e358953988410169f862a5" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="9916574b20e358953988410169f862a5" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
"<span class="hljs-attribute">resource_owner_id</span>": <span class="hljs-value"><span class="hljs-number">3879</span></span>,
"<span class="hljs-attribute">scopes</span>": <span class="hljs-value">[
  <span class="hljs-string">"profile.first_name"</span>,
  <span class="hljs-string">"profile.last_name"</span>
]</span>,
"<span class="hljs-attribute">expires_in_seconds</span>": <span class="hljs-value"><span class="hljs-number">7200</span></span>,
"<span class="hljs-attribute">application</span>": <span class="hljs-value">{
  "<span class="hljs-attribute">uid</span>": <span class="hljs-value"><span class="hljs-string">"b6b334908bed08005ca145fc96ccbd7e4015a0e504d085c77298cf321aaca8f3"</span>
</span>}
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="profile">Profile&nbsp;<a href="#profile"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="profile-">Resources&nbsp;<a href="#profile-"><i class="fa fa-link"></i></a></h4><section id="profile--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#profile--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/profile?schema=</code></div></div><div class="panel-body"><p>Get the user profile with attributes limited to just those chosen by app owner during app registration in schema format.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>schema</dt><dd><code>boolean</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>true</span></span></dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#d5d490c60e2a2cd77efb1767fb0c950b" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="d5d490c60e2a2cd77efb1767fb0c950b" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"joe@citizen.org"</span></span>,
  "<span class="hljs-attribute">givenName</span>": <span class="hljs-value"><span class="hljs-string">"Joe"</span></span>,
  "<span class="hljs-attribute">additionalName</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">familyName</span>": <span class="hljs-value"><span class="hljs-string">"Citizen"</span></span>,
  "<span class="hljs-attribute">homeLocation</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">streetAddress</span>": <span class="hljs-value"><span class="hljs-string">""</span></span>,
    "<span class="hljs-attribute">addressLocality</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">addressRegion</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">postalCode</span>": <span class="hljs-value"><span class="hljs-literal">null</span>
  </span>}</span>,
  "<span class="hljs-attribute">telephone</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">gender</span>": <span class="hljs-value"><span class="hljs-literal">null</span>
</span>}
</code></pre></li></ul></section><h4 id="profile-">Resources&nbsp;<a href="#profile-"><i class="fa fa-link"></i></a></h4><section id="profile--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#profile--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/profile</code></div></div><div class="panel-body"><p>Get the user profile with attributes limited to just those chosen by app owner during app registration.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#bb91f2bc3772e0f66e1927839b29b3c7" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="bb91f2bc3772e0f66e1927839b29b3c7" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">first_name</span>": <span class="hljs-value"><span class="hljs-string">"Joe"</span></span>,
  "<span class="hljs-attribute">middle_name</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">last_name</span>": <span class="hljs-value"><span class="hljs-string">"Citizen"</span></span>,
  "<span class="hljs-attribute">suffix</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">address</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">address2</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">city</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">state</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">zip</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">gender</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">marital_status</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_parent</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_student</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_veteran</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">is_retired</span>": <span class="hljs-value"><span class="hljs-string">"0"</span></span>,
  "<span class="hljs-attribute">email</span>": <span class="hljs-value"><span class="hljs-string">"joe@citizen.org"</span></span>,
  "<span class="hljs-attribute">phone_number</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">mobile_number</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">uid</span>": <span class="hljs-value"><span class="hljs-string">"a83dead6-d98d-4377-9e69-eb00488839f5"</span></span>,
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-string">"a83dead6-d98d-4377-9e69-eb00488839f5"</span>
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="task">Task&nbsp;<a href="#task"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--put" class="panel panel-warning"><div class="panel-heading"><div style="float:left"><a href="#task--put" class="btn btn-xs btn-warning">PUT</a></div><div style="overflow:hidden"><code>/api/v1/task/:id</code></div></div><div class="panel-body"><p>Update a task</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>name</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>Test task</span></span><p>The updated name of the task.</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Update a task and task items</code></strong><a data-toggle="collapse" data-target="#735a7335615f4cab1eb738df005c26e2" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="735a7335615f4cab1eb738df005c26e2" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">task</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
    "<span class="hljs-attribute">task_items_attributes</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-string">"1"</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task item one"</span>
      </span>}
    ]
  </span>}
</span>}
</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#929ccd4748ad77810626b4cb4e9c2f00" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="929ccd4748ad77810626b4cb4e9c2f00" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-07T17:59:21.000Z"</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.000Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.875Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task item one"</span></span>,
      "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.000Z"</span></span>,
      "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:21.000Z"</span>
    </span>}
  ]
</span>}
</code></pre></li></ul></section><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--post" class="panel panel-success"><div class="panel-heading"><div style="float:left"><a href="#task--post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden"><code>/api/v1/tasks</code></div></div><div class="panel-body"><p>Create a new task for the user for this application.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>name</dt><dd><code>string</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>Test task</span></span><p>The name for the task that is being created.</p>
</dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create a new task</code></strong><a data-toggle="collapse" data-target="#7fa52df752b9382f276814a428f0a707" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="7fa52df752b9382f276814a428f0a707" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">task</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span>
  </span>}
</span>}
</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#8c6c6cbd62b75ce206e061ad919a3b0f" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="8c6c6cbd62b75ce206e061ad919a3b0f" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:22.487Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:22.487Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[

  ]
</span>}
</code></pre></li></ul></section><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#task--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/tasks</code></div></div><div class="panel-body"><p>List all tasks, and associated attributes, created by the calling application</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#629f7622eff8b387c4368a97b4d2df2b" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="629f7622eff8b387c4368a97b4d2df2b" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>[
  {
    "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task #1"</span></span>,
    "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
    "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
    "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
    "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
    "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[
      {
        "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task item 1 (no url)"</span></span>,
        "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
        "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
        "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
        "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
        "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span>
      </span>}
    ]
  </span>}
]
</code></pre></li></ul></section><h4 id="task-">Resources&nbsp;<a href="#task-"><i class="fa fa-link"></i></a></h4><section id="task--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#task--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/api/v1/task/:id</code></div></div><div class="panel-body"><p>Get a single task.</p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#935a0ba6e1657147b17d69f9ec856928" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="935a0ba6e1657147b17d69f9ec856928" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"New Task"</span></span>,
  "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">task_items</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task Item #1"</span></span>,
      "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
      "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span>
    </span>},
    {
      "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Task Item #2"</span></span>,
      "<span class="hljs-attribute">url</span>": <span class="hljs-value"><span class="hljs-string">"http://valid_url.com"</span></span>,
      "<span class="hljs-attribute">completed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
      "<span class="hljs-attribute">task_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span></span>,
      "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:23.000Z"</span>
    </span>}
  ]
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="notification">Notification&nbsp;<a href="#notification"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="notification-">Resources&nbsp;<a href="#notification-"><i class="fa fa-link"></i></a></h4><section id="notification--post" class="panel panel-success"><div class="panel-heading"><div style="float:left"><a href="#notification--post" class="btn btn-xs btn-success">POST</a></div><div style="overflow:hidden"><code>/api/v1/notifications</code></div></div><div class="panel-body"><p>This will create a notification for the authenticated user.  The user will be able to view the notification through a user interface, and optionally by email.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>subject</dt><dd><code>string</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>Test notification</span></span></dd><dt>body</dt><dd><code>string</code>&nbsp;<span>(optional)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>This is a test</span></span></dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Request&nbsp;&nbsp;<code>Create a new notification</code></strong><a data-toggle="collapse" data-target="#d29039edf1a7ff762dd9051b91f0191f" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="d29039edf1a7ff762dd9051b91f0191f" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">notification</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">subject</span>": <span class="hljs-value"><span class="hljs-string">"Project MyUSA"</span></span>,
    "<span class="hljs-attribute">body</span>": <span class="hljs-value"><span class="hljs-string">"This is a test."</span>
  </span>}
</span>}
</code></pre></li><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>200</code></strong><a data-toggle="collapse" data-target="#ee99efccad1576db2123caf446691480" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="ee99efccad1576db2123caf446691480" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Content-Type</span>: <span class="hljs-string">application/json; charset=utf-8</span><br/></code></pre><h5>Body</h5><pre><code>{
  "<span class="hljs-attribute">id</span>": <span class="hljs-value"><span class="hljs-number">17</span></span>,
  "<span class="hljs-attribute">subject</span>": <span class="hljs-value"><span class="hljs-string">"Project MyUSA"</span></span>,
  "<span class="hljs-attribute">body</span>": <span class="hljs-value"><span class="hljs-string">"This is a test."</span></span>,
  "<span class="hljs-attribute">received_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:15.803Z"</span></span>,
  "<span class="hljs-attribute">app_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">user_id</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
  "<span class="hljs-attribute">created_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:15.804Z"</span></span>,
  "<span class="hljs-attribute">updated_at</span>": <span class="hljs-value"><span class="hljs-string">"2014-07-08T17:59:15.804Z"</span></span>,
  "<span class="hljs-attribute">deleted_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span></span>,
  "<span class="hljs-attribute">viewed_at</span>": <span class="hljs-value"><span class="hljs-literal">null</span>
</span>}
</code></pre></li></ul></section></div></div></div><div><div class="panel panel-default"><div class="panel-heading"><h3 id="logout">Logout&nbsp;<a href="#logout"><i class="fa fa-link"></i></a></h3></div><div class="panel-body"><h4 id="logout-">Resources&nbsp;<a href="#logout-"><i class="fa fa-link"></i></a></h4><section id="logout--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#logout--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/users/sign_out?continue=</code></div></div><div class="panel-body"><p>Log the current user out and end the user’s MyUSA session.  With the <code>continue</code>
parameter and a valid URL, the user is returned to the URL indicated.  To be
valid, the hostname must be in the same domain (an extension of) the OAuth
application’s registered URL.  The OAuth application must also be approved by
the user.</p>
</div><ul class="list-group"><li class="list-group-item bg-default"><strong>Parameters</strong></li><li class="list-group-item"><dl class="dl-horizontal"><dt>continue</dt><dd><code>url</code>&nbsp;<span class="required">(required)</span>&nbsp;<span class="text-muted example"><strong>Example:&nbsp;</strong><span>http://example.com/page</span></span></dd></dl></li></ul><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>302</code></strong><a data-toggle="collapse" data-target="#dbbd0b5d5e3b11e2ba36b80a86ab0f7b" class="pull-right collapsed"><span class="closed">Show</span><span class="open">Hide</span></a></li><li id="dbbd0b5d5e3b11e2ba36b80a86ab0f7b" class="list-group-item panel-collapse collapse"><div class="description"></div><h5>Headers</h5><pre><code><span class="hljs-attribute">Location</span>: <span class="hljs-string">http://example.com/page</span><br/></code></pre></li></ul></section><h4 id="logout-">Resources&nbsp;<a href="#logout-"><i class="fa fa-link"></i></a></h4><section id="logout--get" class="panel panel-info"><div class="panel-heading"><div style="float:left"><a href="#logout--get" class="btn btn-xs btn-primary">GET</a></div><div style="overflow:hidden"><code>/users/sign_out</code></div></div><div class="panel-body"><p>Log the current user out and end the user’s MyUSA session.  Without any
parameters, this returns the user to the root page, e.g. <a href="http://my.usa.gov/">http://my.usa.gov/</a></p>
</div><ul class="list-group"><li class="list-group-item"><strong>Response&nbsp;&nbsp;<code>302</code></strong></li></ul></section></div></div></div></div></div></div>