<section class="marketing">
  <div class="top-border bottom-border bg-gray">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center lead">For Agencies: A better opportunity with no overhead cost</div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2>Reduce the overhead, the user support, the collection and protection of personal data, and the cost to develop.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <small>Better for the people. Cheaper for the government. The proverbial win, win.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row"><div class="col-md-12 text-center"><img src="http://placehold.it/100x100"></div></div>
          <div class="row"><div class="col-md-12 text-center subhead-blue">Image Subtitle</div></div>
          <div class="row">
            <div class="col-md-12 text-justify">
              <p><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </small></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row"><div class="col-md-12 text-center"><img src="http://placehold.it/100x100"></div></div>
          <div class="row"><div class="col-md-12 text-center subhead-blue">Image Subtitle</div></div>
          <div class="row">
            <div class="col-md-12 text-justify">
              <p><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </small></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row"><div class="col-md-12 text-center"><img src="http://placehold.it/100x100"></div></div>
          <div class="row"><div class="col-md-12 text-center subhead-blue">Image Subtitle</div></div>
          <div class="row">
            <div class="col-md-12 text-justify">
              <p><small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </small></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Start Connecting today. Get MyUSA for your agency.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <small class="">Go from months of development to offering a better interaction between your services and the people you serve with a few easy steps.</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'Connect with MyUSA', new_user_session_path, id: 'myusa-connect', :class => 'btn btn-social btn-myusa' %>
      </div>
    </div>

  </div>
</section>