<section class="marketing">
  <div class="top-border bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">For Developers. Go straight to connecting.</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2>Easy. Easy. Easy. Did I say easy?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<Plug and play feature sets for user login and user profile controls. Get up and running quickly with our Libraries and simple API documents.
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-justify">
					<img src="http://placehold.it/50x50"> MyUSA Supports OPENid Connect
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-justify">
					<img src="http://placehold.it/50x50"> OpenSource from beginning to end
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<button class="btn btn-default">More Info for Developers</button>
				</div>
			</div>
		</div>
	</div>
</section>