<section class="marketing" id="for-developers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          Simplified registration and account management starts here
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3 text-center numbered-step">
        <div>
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">1</i>
          </span>
        </div>
        <h2>
          Sign Up for MyUSA
        </h2>
        <p>
          Have a representative from your agency create a MyUSA account.
        </p>
        <p>
          <button class="btn btn-primary width-80">Get Started</button>
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-sm-4 col-md-3 text-center numbered-step">
        <div>
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">2</i>
          </span>
        </div>
        <h2>
          Register your application
        </h2>
        <p>
          Registering your application with MyUSA is simple.
        </p>
        <p>
          <button class="btn btn-primary width-80">Learn How</button>
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-sm-4 col-md-3 text-center numbered-step">
        <div>
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse three">3</i>
          </span>
        </div>
        <h2>
          Publish your application
        </h2>
        <p>
          Make your application publicly available to anyone with a MyUSA account.
        </p>
        <p>
          <button class="btn btn-primary width-80">Learn More</button>
        </p>
      </div>
    </div>
  </div>
  <div class="bg-gray top-border">
    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
          <%= image_tag "myusa-shield.png", :alt => 'MyUSA Shield' %>
        </div>
        <div class="col-sm-8 col-xs-offset-1 col-md-6 col-md-offset-0">
          <h1>
            A simple solution for agencies.
            <br/>
            A better experience for the people.
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>