<section class="marketing top-border">
	<div class="row callout-box">
		<div class="row blank-row"></div>
		<div class="row">
			<div class="col-md-12 text-muted text-center lead">For Developers. Go straight to connecting.</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center lead">
				<h2>Easy. Easy. Easy. Did I say easy?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<small class="text-muted">Plug and play feature sets for user login and user profile controls. Get up and running quickly with our Libraries and simple API documents.</small>
			</div>
		</div>
		<div class="row blank-row"></div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-justify subhead-blue">
				<img src="http://placehold.it/50x50"> MyUSA Supports OPENid Connect
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<small class="text-muted">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-justify subhead-blue">
				<img src="http://placehold.it/50x50"> OpenSource from beginning to end
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<small class="text-muted">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<button class="btm btn-default">More Info for Developers</button>
			</div>
		</div>
	</div>
</section>