<section class="marketing" id="for-agencies"><a name="agencies"></a>
  <div class="top-border bottom-border bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12 logo">
          <%= image_tag "myusa-logo.png", :alt => 'MyUSA Logo', :width => 175, :height => 50, :class => 'vertical-bottom' %>
          <span class="for-agencies">
            &nbsp;for Agencies
          </span>
        </div>
      </div>
      <div class="row bottom-border">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fa fa-6x icon-id-badge blue-dark"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">
                Instant registration <br/> and authentication
              </h2>
              <p class="text-justify">
                MyUSA takes care of authenticating, managing profiles,
                and protecting people's privacy when interacting with government,
                offering your audience simplicity and confidence. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fa fa-6x icon-map blue-dark"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">
                Guide people to<br/> what matters
              </h2>
              <p class="text-justify">
                Knowing more about your audience the moment they log in
                means you can guide them to the content that matters most to them,
                reducing support requests and improving their online experience.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fa fa-6x icon-paper-airplane blue-dark"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">
                No contracts <br/> No upfront costs
              </h2>
              <p class="text-justify">
                Provided as a free service from the General Services Administration,
                MyUSA offers you registration and log in, account management,
                and other building blocks for your agency needs.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <h2>
            Still have questions?
          </h2>
          Check out our
          <%= link_to 'FAQ', '/faq' %>
          or
          <%= link_to 'Contact Us', '#contact' %>
        </div>
      </div>
    </div>
  </div>
</section>
