<section class="marketing" id="for-agencies"><a name="agencies"></a>
  <div class="top-border bottom-border bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12 logo">
          <%= image_tag "myusa-logo.png", :alt => 'MyUSA Logo', :width => 175, :height => 50, :class => 'vertical-bottom' %>
          <span class="for-agencies">
            &nbsp;for Agencies
          </span>
        </div>
      </div>
      <div class="row bottom-border">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-md-12 text-center"><img src="http://placehold.it/100x100"></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>
                Instant Log in and Authentication
              </h2>
              <p class="text-justify">
                Login systems are no easy task.
                MyUSA takes care of authenticating,
                managing online identity, and
                protecting people's privacy
                so that you don't have to,
                offering your audience simplicity and confidence.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-md-12 text-center"><img src="http://placehold.it/100x100"></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>
                Guide people to the information they need
              </h2>
              <p class="text-justify">
                Knowing more about your audience the moment they log in
                means you can guide them to the content that matters most to them,
                reducing support requests and improving their
                online experience.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-md-12 text-center"><img src="http://placehold.it/100x100"></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>
                MyUSA is free to everyone.  100% Free.
              </h2>
              <p class="text-justify">
                A free service of the General Services Administration,
                MyUSA offers you log in, registration, account management,
                and other building blocks your agency needs,
                ready to go.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <h2>
            Still have questions?
          </h2>
          Check out our
          <%= link_to 'FAQ', '/faq' %>
          or
          <%= link_to 'Contact Us', '#contact' %>
        </div>
      </div>
    </div>
  </div>
</section>