<section class="marketing">
	<div class="row">
		<div class="col-md-12 text-center"><img src="http://placehold.it/400x250"></div>
	</div>
	<div class="row">
		<div class="col-md-12 text-muted text-center lead">For the People: Government services where you need them</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center lead">
			<h2>A new way for people to interact with government services.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<small class="text-muted">
				With nearly 1700 .gov websites, MyUSA offers a simplified way to sign up for and manage your government services. One click sign on, bringing government to you. Not the other way round.
			</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center"><img src="http://placehold.it/400x200"></div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center lead">
			<h2>Access government services with unexpected ease</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<small class="text-muted">
				MyUSA partners with with agencies who care deeply about the needs of the people they serve.
			</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center"><img src="http://placehold.it/200x100"></div>
		<div class="col-md-4 text-center"><img src="http://placehold.it/200x100"></div>
		<div class="col-md-4 text-center"><img src="http://placehold.it/200x100"></div>
	</div>
</section>