<section class="marketing" id="for-the-people">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> -->
      <div class="col-md-12">
        <h1 class="text-center">
          Access your government services with one,
          <br/>
          simple, reusable account
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <h2 class="text-center">
          Use your MyUSA account to access any of our partners.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 text-center partner">
        <%= image_tag "partner-benefitsgov-nobg.png", :alt => 'Benefits.gov', :height => 50, :width => 154 %>
      </div>
      <div class="col-sm-4 col-md-4 text-center partner">
        <%= image_tag "partner-businessusa-nobg.png", :alt => 'Business USA', :height => 40, :width => 220 %>
      </div>
      <div class="col-sm-4 col-md-4 text-center partner">
        <%= image_tag "partner-usagov-nobg.png", :alt => 'USA.gov', :height => 50, :width => 126 %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 hidden-xs">
        <h2 class="text-center">
          Use your MyUSA account to access any of our partners.
        </h2>
      </div>
    </div>
  </div>
</section>