<% content_for :refresh_tag do %>
  <meta http-equiv='refresh' content='5;<%=@redirect_link %>'>
<% end %>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <h2>Welcome to MyUSA</h2>
  <p>Your mobile number has been successfully added to your MyUSA account.</p>
  <p>You will now be automatically redirected <%= t(@back_or_profile, scope: [:mobile_confirmation, :welcome_links]) %> in 5
    seconds, or you can click <%= link_to 'here', @redirect_link %>.</p>


</div>
