body, html {
  height: 100%;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.4;
}

h1, 
h2 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 900;
  margin: 0;
}

h1 { 
  font-size: $base-font-size * 2; 
}

h2 { 
  font-size: $base-font-size * 1.6; 
}

h3 { 
  font-size: $base-font-size * 1.2; 
  font-weight: 900;
}

button { 
  font-family: $base-font-family; 
}

a { 
  text-decoration: none; 
  color: $base-color-link;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.myusa-subhead {
  font-size: $base-font-size * 1.25;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.8em;
}

.myusa-button-outlined {
  background-color: white;
  border: 2px solid $color-blue-light;
  border-radius: 4px;
  color: $color-blue-light;
  padding: 10px 15px;
}
