# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2b0c82d580d33c9b43300898f9cf0f6cce15484f36f44a4359df8a36ed63c42d60b92fb0cf1fa0a1651e7c63d0082824c1a612c9c4f7057e1bbea994912f5802

test:
  secret_key_base: 26f260c938904d813be12ed18f59668a26ff0e6a79a5801a3740bd27068b561dd34aef08b5bacbe21396f382bef5a3407a9133c180264eb6ad99436c0498872c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
