<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message from <%= @from %></h1>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
