<div class="row top-buffer">
  <div class="col-md-10 col-md-offset-1">
    <div class="login callout-box">
      <div class="shield">
        <i class="fa icon-myusa"></i>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-left">
          <h1>
            We&apos;re sorry.  We just couldn&apos;t make that happen.
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>
            It seems something didn&apos;t agree with us.
          </h2>
          <p>Maybe you tried to change something you didn&apos;t have access to.  Otherwise there may have been another problem with the request.</p>
          <p><%= link_to t('return_to_previous'), :back %>
        </div>
      </div>
    </div>
  </div>
</div>
