<% content_for :title do %>
  <title>MyUSA - Page Not Found</title>
<% end %>

<% content_for :headline do %>
  Apologies.
<% end %>

<h3>
  The page you were looking for could not be found.
</h3>
<p>It's possible the page doesn't exist or some other error occured</p>
<p><a href="javascript:history.back()">Return to the previous page?</a>
