<div class="row top-buffer">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-left">
        <h1>
          404 Score and 7 Years ago
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>
          Apologies, but we cannot seem to locate your page.
        </h2>
        <p>We appreciate your adventurous spirit, but you&apos;re in uncharted territory.  We can&apos;t find the page you are looking for.  Head back to the trail before it gets dark, and don't forget to pile on the blankets.  It gets chilly out here on the internet.</p>
        <p><%= link_to t('return_to_previous'), :back %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag 'onthetrail.jpg', class: 'framed', alt: 'on the trail' %>
        <p class="source text-muted">
          <a href="http://memory.loc.gov/cgi-bin/query/h?ammem/aep:@field(NUMBER+@band(icuaep+ors50))"> American Environmental Photographs Collection, [AEP Image Number, e.g., AEP-MIN73], Department of Special Collections, University of Chicago Library.</a>
        </p>
      </div>
    </div>
  </div>
</div>
