<% content_for :title do %>
  <title>MyUSA - Unprocessable Entity</title>
<% end %>

<% content_for :headline do %>
  We seem to be temporarily unavailable.
<% end %>

<h3>
  We apologize for any inconvenience.  Please try again later.
</h3>
<p>There seems to be a problem on our end. We have been notified and will make every attempt to get things up and running as soon as possible.</p>
<p><a href="javascript:history.back()">Return to the previous page?</a>
