	        	<div class="row">
	        		<div class="col-md-6">
	        			<div class="row">
	        				<div class="col-md-12">
	        					<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
						                <div class="form-group">
						                	<label for="inputEmail3" class="sr-only">Email</label>
						                	<div class="col-sm-12">
						                   		<%= f.email_field :email, class: "form-control", id: "inputEmail3", autofocus: true, placeholder: "Email Address" %>
						                	</div>
						                </div>
						                <% if devise_mapping.rememberable? -%>
						                	<div class="form-group">
						                    	<div class="col-sm-12">
						                            <div class="checkbox">
						                                <label>
						                                	<%= f.check_box :remember_me %>
						                                    This is a private computer, remember me
						                                </label>
						                            </div>
						                        </div>
						                    </div>
										<% end -%>
						                <div class="form-group">
						                	<div class="col-sm-12">
												<%= f.submit "Sign in with MyUSA", class: "btn btn-blue fullwidth" %>
						                	</div>
						                </div>
						        <div class="row">
						        	<div class="col-sm-12 align-center">
						            	<a href="">Need help logging into your account?</a>
						          	</div>
						        </div>
							  <% end %>
	        				</div>
	        			</div>
	        		</div>
	        		<div class="col-md-6">
	        			<div class="row">
			            	<div class="col-md-12">
			              		<button class="btn btn-social btn-paypal fullwidth">Sign In with PayPal</button>
			            	</div>
			          	</div>
			          	<div class="row">
			            	<div class="col-md-12">
			              		<button class="btn btn-social btn-symantec fullwidth">Sign In with Symantec</button>
			            	</div>
			          	</div>
	        		</div>
	        	</div>