<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="login callout-box">
  <div class="shield">
    <i class="fa icon-myusa"></i>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        Next Steps
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
      An email with a link has been sent to <%= @email %>.
      </p>
      <p>
      If you don't receive anything from MyUSA in the next 5 minutes, request a new link.
      </p>

      <p class="text-center">
      <button class="btn btn-default btn-sm">Request another link</button>
      </p>
    </div>
  </div>
</div>

</div>
</div>
