<div class="row">
  <div class="main callout-box sign-in">
    <div class="row">
      <h2 class='col-md-12 text-center' style='color:#004976;'>Connect to MyUSA</h2>
    </div>
    <div class="row">
      <h5 class="col-md-12 text-center slogan">Your one account for all government</h5>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12 omniauth-buttons text-center">
          <%= bs_button_to "Connect with Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-social btn-google", style:'width:40%;' %>
        </div>
        <div class="hidden-buttons">
          <%= render 'devise/sessions/email_option'%>
        </div>
        <br/>
      </div>
    </div>
    <noscript>
      <%= render 'devise/sessions/email_option'%>
    </noscript>
    <div class="row text-center">
      <div class="col-md-12">
        <span class='text-muted' style="font-size:11px;">
          By using MyUSA you accept the Terms and Conditions.
          <br/>
          This is a secure website and an official  website of the US Government.
        </span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12 moresignin">
        <span class="more-options">
          <a href="#">
            <button class="btn btn-primary email-connect-option"></i> Or connect with your email address</button>
          </a>
        </span>
        <span class="less-options">
           <%= bs_button_to "Or connect with Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-social btn-google shortwidth google-connect-option" %>
        </span>
      </div>
    </div>
  </div>
</div>
