<div class="row">
	<div class="main callout-box">
		<div class="row">
			<h2 class="col-md-12 text-center">Login to MyUSA</h2>
		</div>
		<div class="row">
			<h5 class="col-md-12 text-center slogan">Your one account for all government</h5>
		</div>
		<div class="row">
			<p class="col-md-12 text-center text-muted"><small>By signing in with MyUSA, you accept our <a><s>terms and conditions</s></a></small></p>
		</div>
		<div class="row">
			<div class="row">
	        	<div class="col-md-12">
	        		<%= bs_button_to "Sign In with Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-social btn-google fullwidth" %>
	          	</div>
	        </div>
	        <div class="hidden-buttons">
	        	<%= render 'devise/sessions/more_options'%>
	        </div>
	        <noscript>
	        	<%= render 'devise/sessions/more_options'%>
	        </noscript>


	        <div class="row">
	          <div class="col-md-12 moresignin">
	            <span class="more-options">
	              <a href="#">
	              	<button class="btn btn-primary btn-sm"><i class="fa fa-chevron-circle-down"></i> More Options</button>
	              </a>
	            </span>
	            <span class="less-options">
	              <a href="#">
	              <button class="btn btn-primary btn-sm"><i class="fa fa-chevron-circle-up"></i> Less Options</button>
	              </a>
	            </span>
	          </div>
	        </div>
		</div>
	</div>
</div>
