<div class="row">
  <div class="ten columns centered">
    <div class="panel group">
      <div class="ten columns">
        <h3>
          We're Sorry
        </h3>
        <p>
          You are accessing an application that doesn't exist or hasn't given you sufficient access.
        </p>
      </div>
    </div>
  </div>
</div>
