/*******************
  Colors
********************/

$blue-dark: #00495C;
$blue: #007BB4;
$blue-hover: #0D4661;
$blue-light: #1E6586;

$blue-highlight: #007BB4;
$blue-lightest: #1E6586;

$gray: #666;
$gray-highlight: #DADADA;
$gray-light: #767676;
$gray-lighter: #C0C0C0;
$gray-lightest: #F9F9F9;
$gray-background: #F0F0F0;

$yellow-light: #FCF8E3;

.blue {
  color: $blue;
}
.blue-dark {
  color: $blue-dark;
}