/*******************
  Colors
********************/

$blue: #00495C;
$blue-lighter: #004976;
$blue-light: #8A6D38;
$blue-lightest: #1E6586;

$gray: #666;
$gray-light: #767676;
$gray-lighter: #C0C0C0;
$gray-lightest: #F9F9F9;

$yellow-light: #FCF8E3;
