#permissions {
  background: #F8FBFD;
  #welcome {
    background: #DFF0D7;
    text-align: center;
    .welcome-text {
      @include outer-container;
      p {
        padding: 15px;
        margin: 0 auto;
        max-width: 580px;
        font-size: 0.9em;
        color: #3A773A;
        span { font-weight: 700; }
      }
    }
  }
  #permissions-box {
    @include outer-container;
    #p-form {
      background: #FFFFFF;
      border: 2px solid #EEF2F4;
      padding: 30px 20px;
      margin: 40px 20px;
      @include span-columns(8);
      @include shift(2);
      header {
        text-align: center;
        h2 { 
          font-size: 1.5em;
          margin-bottom: 20px;  
        }
        p { 
          max-width: 420px;
          margin: 0 auto;
          padding-bottom: 20px;
          font-size: 0.9em;
        }
      }
      .dividers {
        max-width: 460px;
        margin: 0 auto;
        color: #9B9B9B;
        font-size: 0.8em;
        font-weight: 600;
        border-bottom: 1px #EEF2F4 solid;
        span { float: right; }
      }
      section {
        max-width: 460px;
        margin: 0 auto;
        @include clearfix;
        input[type="text"] { 
          display: inline-block;
          margin: 3px 0 10px; 
        }
        h3 { 
          font-weight: 600;
          font-size: 1.1em;
          margin: 30px 0 15px;
        }
        .label-switch {
          float: right;
          &.lname, &.fname {
            position: relative;
            top: 35px;
          }
        }
        span, .name_field {
          float: left;
          width: 80%;
        }
        input[type="submit"], .cancel {
          border-radius: 3px;
        }
      }
      h3 {
        margin: 20px 0 15px;
      }
      .button_group {
        text-align: center;
        .cancel {
          font-weight: 600;
          background-color: white;
          border: 2px solid #689AC8;
          display: inline-block;
          height: 40px;
          width: 100px;
          text-align: center;
          color: #0069A0;
          font-size: 1.1em;
          vertical-align: middle;
          line-height: 2;
          margin: 0 0 0 8px;
        }
      }
    }
  }
}