$base-font-size: 1em;
$base-font-color: #4A4A4A;
$base-font-family: 'Source Sans Pro', Helvetica, sans-serif;

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $base-font-color;
	line-height: 1.4;
}

h1, h2 {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight: 900;
}

h1 { font-size: $base-font-size * 2; }
h2 { font-size: $base-font-size * 1.6; }
h3 { 
	font-size: $base-font-size * 1.2; 
	font-weight: 900;
}

button { font-family: $base-font-family; }

a { 
		text-decoration: none; 
		color: #007BB4;
}

small {
	font-size: 0.8em;
}