form {
  label { 
    display: block; 
  }
  #{$all-text-inputs},
  select[multiple=multiple],
  textarea {
    border: 1px solid #C9D4D9;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    height: 40px;
    padding: 0.5em 0.5em;
    transition: border-color;
    width: 70%;
    &:focus {
      border-color: #3770c0;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px #3770c0;
      outline: none;
    }
  }
}

.myusa-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #0069A0;
  border: 2px solid #0069A0;
  border-radius: 4px;
  color: white;
  font-family: $base-font-family;
  font-size: 1.1em;
  font-weight: 600;
  height: 40px;
  text-align: center;
  width: 100px;
}

.myusa-input-group {
  position: relative;

  .form-control {
    display: block;
    float: left;
    position: relative;
  }

  input[type="submit"] {
    border-radius: 0 4px 4px 0;
    float: left;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    border-radius: 4px 0 0 4px;
  }
}
