nav[role="navigation"] {
  @include outer-container;
  padding: 10px 20px;

  h1#branding {
    @include span-columns(5);
    margin: 0;

    @include media($medium) {
      @include span-columns(3);
    }
    
    img {
      max-width: 134px;
    }

    span {
      color: darken($color-gray, 60%);
      font-size: $base-font-size / 1.5;
      font-weight: 600;
      position: relative;
      top: -15px;

      @include media($large) {
        display: none;
      }
    }
  }

  #myusa-button-nav_mobile {
    display: none;
    float: right;
    position: relative;
    top: 10px;

    @include media($medium) {
      display: block;
    }
  }

  ul.right-nav {
    float: right;
    font-size: 0.8em;
    display: block;
    overflow: visible;
    -webkit-transform-style: preserve-3d;
    z-index: 9999;

    @include media ($medium) {
      display: none;
      text-align: right;
      width: 100%;
    }

    li {
      border-right: 1px solid $color-gray;
      display: inline;
      line-height: 50px;
      padding: 10px 15px;
      
      &:nth-last-child(2), 
      &:last-child {
        border: none;
      }

      &:last-child {
        padding: 10px 0;
      }

      @include media ($medium) {
        display: block;
        border: none;

      }
    }
  }
}
