<h1>You are unsubscribed</h1>
<p>Hey! You just hit unsubscribe — you’ll no longer get emails from <%= @application.name %>.</p>
<p>You can always update your notification settings <%= link_to 'right here', settings_notifications_path %>.</p>
