<h1>You are unsubscribed</h1>
<p>You will no longer receive emails from <%= @application.name %>. You can update your <%= link_to 'MyUSA notification settings', settings_notifications_path %> at any time.
