default_run_options[:pty] = true
ssh_options[:forward_agent] = true
ssh_options[:auth_methods] = ['publickey']
ssh_options[:keys] = [ENV['AWS_KEY_PAIR_PATH']]

set :rails_env, :staging
set :ip, ENV['MYUSA_STAGING']
set :port, 22
set :deployer, 'ubuntu'
set :user, 'ubuntu'

#
# Server Role Definitions
#
role :app, ip
role :web, ip
role :db, ip, primary: true
