<ul class="list-unstyled scope-list">
  <% scopes_by_group(scopes) do |group, group_scopes| %>
    <%- if group_scopes.present? -%>
    <li>
      <h2 class="open"><%= t("scope_groups.#{group}.description") %></h2>
      <div class="form-group">
        <h3><%= t("scope_groups.#{group}.subheading") %></h3>
        <% group_scopes.each do |scope| %>
          <div class="row">
            <%- if profile_scope?(scope) -%>
              <div class="col-md-3">
                <%= scope_label(scope) %>
              </div>
              <div class="col-md-9">
                <label><%= scope_field_tag(scope, read_only: true) %></label>
              </div>
            <%- end -%>
          </div>
        <% end %>
      </div>
    </li>
    <%- end -%>
  <% end %>
</ul>
