<header class="page-header">
  <h1>Settings</h1>
  <p class="sub-heading">Authorized Applications</p>
</header>

<div class="main">
  <div class="row">
    <div class="col-md-12">
      <% @applications.each do |application| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-7">
                <h3 class="panel-title">
                  <%= application.name %>
                </h3>
              </div>
              <div class="col-md-3 text-right">
                <h3 class="panel-title">
                  Granted: <%= application.created_at.strftime('%m/%d/%Y') %>
                </h3>
              </div>
              <div class="col-md-2 text-right">
                <h3 class="panel-title">
                  <%= render 'delete_form', application: application %>
                </h3>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <h4>Permissions</h4>
            <ul>
            <% application.scopes.each do |scope| %>
              <li><%= t("doorkeeper.scopes.#{scope}") %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
