<div class="bullets">
  <h1 class="center">What MyUSA does</h1>
    <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h3>Guides your visitors to what matters</h3>
        <p>Your visitors can share personal information that's important to them, allowing you to recommend relevant services.</p>
        </div>
    </li>  
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Improves visitor interactions</h2>
        <p>MyUSA lets your visitors engage with your app as often and to the degree that they like, reducing support costs.</p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Keeps your visitors informed and on track</h2>
        <p>You can give MyUSA visitors personalized task lists and notifications, helping them complete key tasks.</p>
      </div>
    </li> 
  </ul>
  <div class="onetwothree center">
    
  </div>
</div>
