<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag("header-logo.png", alt: "MyUSA Logo") %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#">Home</a></li><li class="nav-link"><a href="#">About</a></li>
        <li class="nav-link">
          <a href="#">
            Developer
            <small>Resources</small>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            Contact Us
            <small>with questions</small>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
