<footer>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills nav-justified">
        <li>
          <%= image_tag "header-logo.png", :width => 53, :height => 15 %>
        </li>
        <li>
          <%= link_to 'Policies', legal_path, :title => 'MyUSA Policies including Terms and Conditions, Privacy Policy, Linking Policy, and PRA Statement' %>
        </li>
        <li class="muted text-right">
          <%= image_tag "usa-flag.png", :alt => 'USA Flag' %>
          MyUSA is an official website of the United States Government
        </li>
      </ul>
    </div>
  </div>
</footer>
