<footer>
	<hr>
	<div class="row">
		<div class="col-md-1"><%= image_tag "footer-logo.png" %></div>
		<div class="col-md-2"><a>Terms &amp; Privacy</a></div>
		<div class="col-md-1"><a>FAQ's</a></div>
		<div class="col-md-1"><a>Help</a></div>
		<div class="col-md-7 text-right"><span class="text-muted"><p>MyUSA is an official website of the United States Government</p></span></div>
	</div>
</footer>