<header class="auth">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <%= image_tag "header-logo.png", :alt => 'MyUSA Logo' %>
      </div>
      <div class="col-md-7 col-sm-7">
        <% if user_signed_in? %>
          <%= render 'layouts/header_signed_in'%>
        <% end %>
      </div>
    </div>
    <% if shield %>
    <div class="header-hr shield">
      <div>
        <%= image_tag "myusa-shield.png", :alt => 'MyUSA Shield Logo' %>
      </div>
    </div>
    <% else %>
    <div class="header-hr">
    </div>
    <% end %>
  </div>
</header>
