<div class="header-signedin pull-right dropdown">
  <a data-toggle="dropdown" href="#" class="action-blue-user">
    <%= current_user.email %>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu settings-menu" role="menu" aria-labelledby="settings">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Privacy</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">This is not me</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="text-center"><a class="large" role="menuitem" tabindex="-1" href="#">Log Out</a></li>
  </ul>
</div>
