<header>
	<div class="row">
		<div class="col-md-1">
			<%= image_tag "myusa-shield.png" , :alt => "MyUSA Shield", :class => "img-responsive" %>
		</div>
		<div class="col-md-3">
			<h1><span class="my">My</span><span class="usa">USA</span></h1>
		</div>
		<div class="col-md-8 pad-top">
			<div class="pull-right">
				   <a href="#">About MyUSA</a>
				 | <a href="#">Contact Us</a>
				 | <a href="#">Help</a> 
			</div>
		</div>
	</div>
	<div class="row">
		
	</div>
</header>