<header>
  <div class="row">
    <div class="col-md-5 col-sm-5">
      <%= image_tag "header-logo.png", :alt => 'MyUSA Logo' %>
    </div>
    <div class="col-md-7 col-sm-7">
      <% if user_signed_in? %>
        <%= render 'layouts/header_signed_in'%>
      <% else %>
        <div class="pull-right">
          <%= link_to 'Connect with MyUSA', new_user_session_path, id: 'myusa-connect', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-pills nav-justified">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Personal Info</a>
      </li>
      <li>
        <a href="#">Security &amp; Permissions</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="header-hr">
    </div>
  </div>
</header>
