<header>
	<div class="row">
		<div class="col-md-12 pad-top">
		<% if current_user %>
				<h5 class="pull-right">
					<%= current_user.email %> | <span class="glyphicon glyphicon-cog"></span>
				</h5>
			<% end %>
		</div>
	</div>
	<hr>
	<div class="row">
	</div>
</header>