<div class="header-signedin pull-right dropdown">
  <a data-toggle="dropdown" href="#" class="action-blue-user" id="user-settings">
    <%= current_user.email %>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu settings-menu" role="menu" aria-labelledby="user-settings">
    <li role="presentation"><%= link_to 'Account', profile_path, role: 'menuitem', tabindex: -1 %></li>
    <li role="presentation"><%= link_to 'Privacy', oauth_authorized_applications_path, role: 'menuitem', tabindex: -1 %></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">This is not me</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="text-center"><%= link_to 'Log Out', destroy_user_session_path, class: "large" %></li>
  </ul>
</div>
