<header>
	<div class="row">
		<div class="col-md-12 pad-top">
		<% if current_user %>
				<div class="header-large pull-right">
					<div class='action-blue-user' style='display:inline;'><b><%= current_user.email %></b></div> <div style='color:gray; display:inline;'>|</div> <span class="glyphicon glyphicon-cog"></span>
				</div>
			<% end %>
		</div>
	</div>
	<hr>

	<div class="row text-center">
		<img class='myusa-shield' src='/assets/myusa-shield.png'>
	</div>
</header>