<% flash.each do |key, value| %>
  <% next if key.to_s == 'timedout' %>
  <div class="flash alert alert-<%=standard_flash(key)%>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    	<%= value %>
  </div>
<% end %>
